<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<connectionStrings>
		<add name="TraceHistory" connectionString="Data Source=192.168.1.25,55888\SQLEXPRESS; Initial Catalog=RiskForm; User ID =leokuo; Password=123456; Integrated Security=false"/>
		<add name="local" connectionString="data source=Leo\SQLEXPRESS;initial catalog=bu_test;integrated security=True;MultipleActiveResultSets=True;"/>
	</connectionStrings>
</configuration>
